.sectionPlum {
  background-color: var(--plum);
}


.contact {
  width: auto;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;

  p:last-child {
    margin-top: 3rem;
  }

  @media (min-width: 800px) {
    width: 400px;

  }
}

.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--mono);
}