.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1c20;
    padding: 2.4rem;
}

.logo {
    background-color: royalblue;
}
