$gainsboro: #e4e6ecff;
$geranium-lake: #f0a500;
$light-periwinkle: #b8bed0ff;
$light-periwinkle-2: #b8bed0ff;
$eerie-black: #131313ff;

$color-1: #f4f4f4;
$color-2: #f0a500;
$color-3: #cf7500;
$color-4: #1a1c20;
